<!-- <p>admin-layout works!</p> -->

<!-- <a [routerLink]="['/admin/dashboard']">Dashboard</a>
<a [routerLink]="['/admin/user-profile']">User Profile</a>
<a [routerLink]="['/admin/table-list']">Table List</a>
<a [routerLink]="['/admin/typography']">Typography</a>
<a [routerLink]="['/admin/icons']">Icons</a>
<a [routerLink]="['/admin/maps']">Maps</a>
<a [routerLink]="['/admin/notifications']">Notifications</a>
<a [routerLink]="['/admin/upgrade']">Upgrade to PRO</a> -->

<!-- <router-outlet></router-outlet> -->
<br/>
<a routerLink="/admin/dashboard">dashboard</a>
<a routerLink="/admin/addstudent">add student</a>
<a routerLink="/admin/addproduct">add product</a>


<router-outlet></router-outlet>

